<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
  <groups>
  <run>
  <include name="SanityGroup"></include>
  </run>
  </groups>
    <classes>
      <class name="Pages.TestBelongtoSingleGroup"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
  <groups>
  <run>
  <exclude name="RegressionGroup"></exclude>
  </run>
  </groups>
    <classes>
      <class name="Pages.TestBelongtoSingleGroup"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Test3">
   <groups>
   <run>
   <include name = "RegressionGroup"></include>
   </run>
   </groups>  
    <classes>
      <class name="Pages.TestBelongtoSingleGroup"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
